.desafio {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#desafioInfo {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-evenly;
  margin: 20px 0;
}

#AppEditors {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
